*{
	margin: 0;
	padding: 0;
	color: black;
}

.header{
	width: 100%;
	height: 50px;
	display: block;
	background-color: #a3947e;
}

.inner_header{
	width: 70%;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color: #a3947e;
}

.navigation{
	float: right;
	height: 100%;
	background-color: #a3947e;
}

.navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0 20px;
	transition: all 0.3s ease 0s;
}

.navigation a:hover{
	background-color:  #ffc675;
}

.navigation a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-size: 16px;
}

.content{
    background-color: #d8c3a5;
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
}

.app{
	background-color: #d8c3a5;
}

.box_app{
	margin: 0px 200px 5px 200px;
	height: 400px;
	background-color: #d8c3a5;
}

.choose_box_app{
	height: 30%;
	background-color: #d8c3a5;
}

.top_middle_box_app{
	height: 30%;
	padding: 10px 10px 10px 10px;
	font-size: 30px;
	background-color: #ffc675;
	border-radius: 8px;
	border-color: black;
	border-style: solid;
}

.bottom_middle_box_app{
	height: 30%;
}

.result_box_app{
	font-size: 25px;
	height: 10%;
	background-color: #d8c3a5;
}

.left_result_box_app{
	width: 50%;
	height: 100%;
	display: block;
	float: left;
	background-color: #d8c3a5;
}

.right_result_box_app{
	width: 50%;
	height: 100%;
	display: block;
	float: right;
	background-color: #d8c3a5;
}

.bad_left_result_box_app{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 50%;
	height: 100%;
	float: left;
	background-color: #ffc675;
	color: black;
	border-radius: 15px;
	border-color: black;
	border-style: solid;
}

.bad_left_result_box_app span{
	color: red;
}

.good_left_result_box_app{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 50%;
	height: 100%;
	float: right;
	background-color: #ffc675;
	color: black;
	border-radius: 15px;
	border-color: black;
	border-style: solid;
}

.good_left_result_box_app span{
	color: #c97a00;
}

.perfect_right_result_box_app{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 50%;
	height: 100%;
	float: left;
	background-color: #ffc675;
	color: black;
	border-radius: 15px;
	border-color: black;
	border-style: solid;
}

.perfect_right_result_box_app span{
	color: #50D050;
}

.next_right_result_box_app{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 50%;
	height: 100%;
	float: right;
	border-radius: 8px;
	border-color: black;
	border-style: solid;
}

.btn-primary{
    border-color: #a3947e
}

.btn.btn-primary{
    background-color: #a3947e;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: grey;
  border-color: #a3947e
  border-color: grey;
}

